.pointer {
    cursor: pointer;
}

.fa-times {
    color: rgb(214, 0, 0)
}

.ds-none {
    display: none
}

.profile-pic {
    position: relative;
    display: inline-block;
    width: 200px;
    max-height: 200px;
    cursor: pointer;
    z-index: 0;
}


.file-upload {
    display: none;
}

.circle {
    border-radius: 100% !important;
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    /* top: 72px; */
    margin: 0 auto;
}

.circle img {
    max-width: 100%;
    height: 125px;
    object-fit: cover;
}

.p-image {
    position: absolute;
    top: 115px;
    z-index: 10042;
    display: block;
    text-align: center;
    width: 220px;
    font-size: 13px;
    cursor: pointer;
}
.green{
    color: rgb(0, 77, 0);
}
.p-image i {
    color: #000;
    /* position: relative; */
    background: #fff;
    padding: 5px;
    border-radius: 17px;
}

.p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.upload-button {
    font-size: 1.2em;
}

.upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
}
.box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 5px
}

.box::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
    border-radius: 5px
}

.box::-webkit-scrollbar-thumb {
    background-color: black;
    border: 2px solid black;
    border-radius: 5px
}

.box header {
    -moz-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.1);
    height: 110px;
    vertical-align: middle;
}

.box h1 {
    float: left;
    padding: 10px 30px
}


.notification {
    padding: 10px;
}

.notBtn {
    transition: 0.5s;
    cursor: pointer
}

.box {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    transition: 0.5s;
    position: absolute;
    overflow-y: scroll;
    padding: 0px;
    display: none;
    left: -300px;
    z-index: 3;
    margin-top: 5px;
    background-color: #F4F4F4;
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.1);
    cursor: context-menu;
}

.fas:hover {
    color: #d63031;
}

.notBtn:hover>.box {
    height: 60vh
}

.content {
    padding: 20px;
    color: black;
    vertical-align: middle;
    text-align: left;
}

.gry {
    background-color: #F4F4F4;
}

#sidebar,
#sidebar h4,
.topbar .navbar,.dash_head,.topbar {
    background-color: #b9b5a9
}
.components li a span:hover{
    color:#dacd9c;
}
.btn-primary ,.main_bt,.plus_green_bt a{
    background-color: #d1c286 !important;
    border-color: #d1c286 !important;
    color: #fff
}
#sidebar.active .logo_section{
    background-color: #d1c286 !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,.main_bt {
    background-color: #aa9e6d !important;
    border-color: #aa9e6d !important;
    color: #fff;
    box-shadow: 0 0 0 0.2rem rgba(255, 254, 202, 0.25) !important
}
.nav-pills {
    background-color: #ffffff;
    padding: 0px 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-bottom: 13px !important
}

.d-none {
    display: none
}

.nav-pills li a {
    padding: 9px 15px !important;
    color: #868686;
    display: block;
}

.nav-pills li a {
    color: #868686;
}

.nav-pills .active,
.nav-pills .show {
    background: #d1c286;
    border-radius: 6px
}

.nav-pills .active a,
.nav-pills .show {
    color: #fff
}
.sidebar_user_info {
    background: #d1c286;
}

.top {
    color: black;
    padding: 10px
}

.display {
    position: relative;
}

.cont {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F4F4F4;
}

.cont:empty {
    display: none;
}

.titleNoti {
    padding: 0;
    margin: 0;
    width: 75%;
    padding-left: 10px;
    margin-bottom: -3px;
}

.stick {
    display: block;
    font-size: 50pt;
    padding-top: 70px;
    padding-left: 80px
}

.stick:hover {
    color: black;
}

.cent {
    display: block;
}

.sec {
    padding: 18px 10px 4px;
    ;
    background-color: #F4F4F4;
    transition: 0.5s;
}

.profCont {
    padding-left: 15px;
}

.profile {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    width: 75px;
    float: left;
}

.txt {
    vertical-align: top;
    font-size: 1rem;
    padding-left: 50px;
    color: black
}

.sub {
    font-size: 1rem;
    color: grey;
}

.new {
    border-style: none none solid none;
    border-color: #d1c286;
}

.icon_info span.badge {
    font-family: system-ui !important;
}

.text-noti {
    padding-left: 10px !important;
    padding-top: 7px
}

.fa-bell-o {
    z-index: 3;
}

.msg_list_main ul li>span img {
    width: 70px;
    border-radius: 100%;
    max-height: 68px;
    object-fit: cover;
}

.orange_color {
    color: #021d56 !important;
}

.modal-verification .form-control {
    display: block;
    height: 50px;
    margin-right: 0.5rem;
    text-align: center;
    font-size: 1.25rem;
    min-width: 0;


}

.modal-verification .form-control:last-child {
    margin-right: 0;
}
.dataTables_length,.dataTables_info{
    display: inline-block;
}
#myTable_filter,.dataTables_paginate{
    display: inline-block;
    float: right;
}
#myTable_filter{
    margin-top: 7px
}
#myTable_filter input{
    margin: -4px 8px;
}
#myTable_filter label ,#myTable_length label{
    display: inline-flex;
}
#myTable_length select{
margin: -4px 6px 10px !important;
}
.paginate_button {
    background-color: #d1c286;
    color: #fff;
    padding: 8px 10px;
    margin: 10px 6px;
    cursor: pointer;
}
.dataTables_paginate{
    margin-top: 20px
}
.dataTables_info{
    margin-top: 19px
}